/********************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

********************************************************************/

/*** Variables ***/

a[href^="/starting-up"],
a[href^="../starting-up"],
a[href^="/finance-and-grants"],
a[href^="../finance-and-grants"],
a[href^="/tax-payroll-and-company-information"],
a[href^="../tax-payroll-and-company-information"],
a[href^="/employment-and-skills"],
a[href^="../employment-and-skills"],
a[href^="/workplace-health-and-safety"],
a[href^="../workplace-health-and-safety"],
a[href^="/environment-and-efficiency"],
a[href^="../environment-and-efficiency"],
a[href^="/premises-and-property"],
a[href^="../premises-and-property"],
a[href^="/create-innovate-and-protect"],
a[href^="../create-innovate-and-protect"],
a[href^="/it-and-ecommerce"],
a[href^="../it-and-ecommerce"],
a[href^="/sales-and-marketing"],
a[href^="../sales-and-marketing"],
a[href^="/international-trade"],
a[href^="../international-trade"],
a[href^="/grow-your-business"],
a[href^="../grow-your-business"],
a[href^="/buy-or-sell-a-business"],
a[href^="../buy-or-sell-a-business"],
a[href^="/for-professional-advisers"],
a[href^="../for-professional-advisers"],
a[href^="/your-business-sector"],
a[href^="../your-business-sector"] {
	padding-left: 5px;
	border-left-width: 3px;
	border-left-style: solid;
}

a[href^="/starting-up"],
a[href^="../starting-up"] {
	border-color: #ef5350; // red
}

a[href^="/finance-and-grants"],
a[href^="../finance-and-grants"] {
	border-color: #EC407A; // pink
}

a[href^="/tax-payroll-and-company-information"],
a[href^="../tax-payroll-and-company-information"] {
	border-color: #AB47BC; // purple
}

a[href^="/employment-and-skills"],
a[href^="../employment-and-skills"] {
	border-color: #7E57C2; // dark purple
}

a[href^="/workplace-health-and-safety"],
a[href^="../workplace-health-and-safety"] {
	border-color: #5C6BC0; // dark blue
}

a[href^="/environment-and-efficiency"],
a[href^="../environment-and-efficiency"] {
	border-color: #42A5F5; // blue
}

a[href^="/premises-and-property"],
a[href^="../premises-and-property"] {
	border-color: #29B6F6; // light blue
}

a[href^="/create-innovate-and-protect"],
a[href^="../create-innovate-and-protect"] {
	border-color: #26C6DA; // turqoise
}

a[href^="/it-and-ecommerce"],
a[href^="../it-and-ecommerce"] {
	border-color: #26A69A; // dark green
}

a[href^="/sales-and-marketing"],
a[href^="../sales-and-marketing"] {
	border-color: #26A69A; // green
}

a[href^="/international-trade"],
a[href^="../international-trade"] {
	border-color: #66BB6A; // light green
}

a[href^="/grow-your-business"],
a[href^="../grow-your-business"] {
	border-color: #9CCC65; // light green
}

a[href^="/buy-or-sell-a-business"],
a[href^="../buy-or-sell-a-business"] {
	border-color: #D4E157; // lime green
}

a[href^="/for-professional-advisers"],
a[href^="../for-professional-advisers"] {
	border-color: #FFEE58; // yellow
}

a[href^="/your-business-sector"],
a[href^="../your-business-sector"] {
	border-color: #FFCA28; // orange
}

