/********************************************************************

	Structure

********************************************************************/


/********************************************************************
GENERAL STYLES
********************************************************************/

h1, h2, h3, h4, h5, h6 {
	line-height: 1.15; 
}

p {
	line-height: 1.58; 
}


.label {
	padding: rem-calc(5px 5px 2px 5px); 
	font-weight: bold; 
}

/********************************************************************
LINK STYLES
********************************************************************/
a:visited {

	color: darken($primary-color, 20%); 

	// Mobile tap color
	// &:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		// -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	// }
}

/* Add a external link icon */
a[target="_blank"] {
	position: relative; 

	&::after {
		content: url("../../_img/external-link-alt.svg"); 
		position: absolute; 
		top: -10px; 
		margin-left: rem-calc(5px); 
		width: 12px; 
	}
}

/* show links which are dead */
a[href="#"] {
	position: relative; 
	color: red; 

	&::after {
		content: url("../../_img/times-circle.svg"); 
		position: absolute; 
		top: -10px; 
		margin-left: rem-calc(5px); 
		width: 12px; 
	}
}

/* if in the menu, move icons to the left */
.categories {
	.menu {
		a[target="_blank"] {
			&::before {
				content: url("../../_img/external-link-alt.svg"); 
				display: inline-block; 
				margin-right: rem-calc(5px); 
				width: 12px; 
			}
		}

		a[target="_blank"] {
			&::after {
				content: ''; 
				display: none; 
			}
		}

		a[href="#"] {
			&::before {
				content: url("../../_img/times-circle.svg"); 
				display: inline-block; 
				margin-right: rem-calc(5px); 
				width: 12px; 
			}
		}

		a[href="#"] {
			&:after {
				content: ''; 
				display: none; 
			}
		}
	}
}

/* Change the colour of telephone links */
a[href^="tel:"] {
  color: orange; 
  font-weight: bold; 
  text-decoration: none;
}
/* add a unicode telephone icon */
a[href^="tel:"]:before {
  content: "\260e";
  padding-right: rem-calc(5px);
}

/* Links containing an image then text */
.caption {
	text-align: center; 

	img {
		display: block; 
	}
}

/********************************************************************
H1, H2, H3, H4, H5 P STYLES
********************************************************************/
// h1, .h1, 
// h2, .h2, 
// h3, .h3, 
// h4, .h4, 
// h5, .h5 {}

// p {
	// font-size: 1.188rem; // 19px 
// }

/********************************************************************
HEADER STYLES
********************************************************************/
header {
	margin-bottom: rem-calc(40px); 
}

// header, 
// .breadcrumbs, 
footer {
	padding: 1rem; // 16px
	border-top: 1px solid #ddd; 

	.menu {
		display: flex; 
		flex-flow: column wrap;

		@include breakpoint(medium) {
			flex-flow: row wrap; 
		}
	}
}


.top-logo {
	display: block; 
	margin: 0 auto; 
	max-width: 170px; 

	@include breakpoint(large) {
		margin: 0 15px; 
		max-width: 150px; 
	}
}

.strapline {
	margin-top: 10px;
	font-size: 21px;
	color: #3276AD; 

	@include breakpoint(large) {
		float: right; 
		margin-top: 40px; 
		font-size: 30px;
	}
}

.quick-links {
	margin-bottom: 60px; 
	border-bottom: 1px solid $medium-gray; 
}

/* normal horz main nav */
.top-bar {

	.top-bar-left-custom {

		@include breakpoint(large) {
			float: left; 
		}
	}

	.menu > li > a {
		border-left: 0; 
		border-top-width: 5px; 
		border-top-style: solid; 
	}

	/*** mobile ~ tablet menu ***/
	.mobile-menu-container {

		@include breakpoint(large) {
			float: left; 
		}
	}

	.mobile-menu {
		margin-top: 30px; 
		margin-bottom: 30px; 
		padding: 0 15px; 
		font-weight: 600; 
		background-color: #333; 

		> li > a {
			border: 0; 
		}
	}
}

/*** off-canvas ***/
.off-canvas {
	padding: 50px 0; 

	.menu > li > a {
		border-left-width: 7px; 
	}
}



/*** Breadcrumbs ***/		
// Let's remove Foundation styling		
.breadcrumbs li:not(:last-child):after {		
	content: ""; 		
	margin: 0; 		
}		
// And add some to the Perch breadcrumb		
.breadcrumb-arrow {		
	padding: 0 .75rem; 		
	color: #cacaca; 		
}


/*** Side bar master navigation ***/
.categories {
	outline: 1px solid #ccc; 

	.fa {		
		position: relative; 		
		top: -3px; 		
	}
	
	// .vertical menu container > level [1] parent category 'Starting Up' > level [2] child UL 'Considering Starting Up'		
	ul li ul {		
		background-color: lighten($light-gray, 5%); 		
	}

	// .vertical menu container > level [1] parent category 'Starting Up' > level [2] child UL 'Considering Starting Up' > level [3] grandchild 'Starting a business: the basics'		
	ul li ul li ul {		
		background-color: #fff; 		
	}

	.submenu.is-accordion-submenu {		
		margin: 0; 
		padding: 10px 20px; 
		list-style: none; 
	}

	// .vertical menu container > level [1] parent category 'Starting Up' > level [2] child UL 'Considering Starting Up' > level [3] grandchild 'Starting a business: the basics' > level [4] great-grandchild 'What to do before you start your business'		
	ul li ul li ul li ul { 		
		background-color: lighten($light-gray, 5%); 		
	}		
}		
/*** accordion arrows ***/
.is-accordion-submenu-parent > a {
	display: block; 
	padding-right: 15px; 
}
.is-accordion-submenu-parent > a:after { 
	top: 11px;		
    right: 10px;		
    float: right;		
    position: absolute; 		
    margin-top: 0; 		
}

/* level 0 */
// .is-accordion-submenu-parent > a:after {
	// see above
	// outline: 1px solid red; 
// }

/* level 1 */
li ul .is-accordion-submenu-parent > a:after {
	right: 1px; 
	// outline: 1px solid blue; 
}

/* level 2 */
li ul li ul .is-accordion-submenu-parent > a:after {
	right: -11px; 
	// outline: 1px solid green; 
}

 
/********************************************************************
NAVIGATION STYLES
********************************************************************/
.parent-cat {		
	font-style: italic; 		
}


/********************************************************************
SIDEBARS & ASIDES
********************************************************************/
.submenu.is-accordion-submenu {
	margin-left: 33px; 
}

